{# Kế thừa layout backend #}
{% extends "backend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Danh sách Nhà Sản Xuất
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Danh sách Nhà Sản Xuất
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}
<table class="table table-bordered table-hover table-responsive table-sm">
    <thead class="thead-dark">
        <tr>
            <th>Mã Nhà Sản Xuất</th>
            <th>Tên Nhà Sản Xuất</th>
        </tr>
    </thead>
    <tbody>
            {% for nhasanxuat in danhsachnhasanxuat%}
            <tr>
            <td>{{nhasanxuat.nsx_ma}}</td>
            <td>{{nhasanxuat.nsx_ten}}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>

{% endblock %}
{# End Nội dung trong block content #}