<nav class="col-md-2 d-none d-md-block bg-dark sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <!-- Bảng Tin -->
                <li class="nav-item">
                    <a class="nav-link active dropdown-toggle" href="#menubangtin"  data-toggle="collapse" aria-expanded="true">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        <span>Bảng Tin</span>
                    </a>
                    <ul class="collapse" id="menubangtin" style>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Danh Sach
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Danh Sach
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- End menu Bảng Tin --> 

                <!-- Loai San Pham -->
                <li class="nav-item">
                    <a href="#loaisanphamSubMenu" data-toggle="collapse" aria-expanded="false" class="nav-link active dropdown-toggle">
                        <i class="fa fa-align-right" aria-hidden="true"></i> <span> Loai san pham</span>
                    </a>
                    <ul class="collapse" id="loaisanphamSubMenu" style>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                
                                Danh sách
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                
                                Thêm mới
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Ket Thuc Loai San Pham -->

                <!-- Sản Phẩm -->
                <li class="nav-item">
                        <a href="#loaisanphamSubMenu" data-toggle="collapse" aria-expanded="false" class="nav-link active dropdown-toggle">
                            <i class="fa fa-product-hunt" aria-hidden="true"></i> Sản Phẩm
                        </a>
                        <ul class="collapse" id="loaisanphamSubMenu">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="list"></span>
                                    Danh sách
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="plus"></span>
                                    Thêm mới
                                </a>
                            </li>
                        </ul>
                </li>
                <!-- End menu Sản Phẩm -->

                <!-- Hình Ảnh -->
                <li class="nav-item">
                        <a href="#loaisanphamSubMenu" data-toggle="collapse" aria-expanded="false" class="nav-link active dropdown-toggle">
                            <i class="fa fa-file-image-o" aria-hidden="true"></i> Hình Ảnh
                        </a>
                        <ul class="collapse" id="loaisanphamSubMenu">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="list"></span>
                                    Danh sách
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="plus"></span>
                                    Thêm mới
                                </a>
                            </li>
                        </ul>
                </li>
                <!-- End menu Hình Ảnh -->
                
                
                <!-- Nhà Sản Xuất -->
                <li class="nav-item">
                    <a href="#loaisanphamSubMenu" data-toggle="collapse" aria-expanded="true" class="nav-link active dropdown-toggle">
                        <i class="fa fa-university" aria-hidden="true"></i> Nhà Sản Xuất
                    </a>
                    <ul class="collapse" id="loaisanphamSubMenu">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="list"></span>
                                Danh sách
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="plus"></span>
                                Thêm mới
                            </a>
                        </li>
                    </ul>
                </li>
                    <!-- End menu  Nhà Sản Xuất  -->
            </ul>
        </div>
    </nav>